body {
  margin: 0;
  padding: 0;
  font-family: Courier,sans-serif;
}

.bloc-chat {
  float: left;
  width: 25%;
  height: 100vh;
  background-color: #e8e8e8;
  padding-top: 50px;
  padding-left: 20px;
}

.bloc-chat-inactive {
  background-color: #f3f3f3;
}

.chat-name {
  text-align: left;
  color: #615f5f;
  padding-bottom: 20px;
  font-size: 1.5em;
  font-weight: 900;
}

.chat-room-inactive {
  opacity: 0.2;
}

.room {
  text-align: left;
  padding-bottom: 10px;
  color: #949090;
  cursor: pointer;
}

.custom-icon {
  padding: 10px;
  cursor: pointer;
}

.new-chat-popup {
  display: none;
  z-index: 1;
  background-color: #e8e8e8;
  border: 1px black solid;
  position: fixed;
  left: 25%;
  top:70px;
  text-align: left;
  padding: 15px;
  width: 250px;
}

.new-chat-popup-active {
  display: block;
}

.popup-title {
  color: #615c5c;
  font-weight: 500;
  padding-bottom: 15px;
  font-size: 1.2em;
}

.popup-subtitle {
  font-size: 0.9em;
  color: #a3a3a3;
  font-weight: 100;
}

form {
  width: 100%;
}

input {
  border: none;
  height: 30px;
  font-size: 0.9em;
}

.popupInput {
  width: 100%;
  margin: 5px 0;
  padding-left: 5px;
}

.cancelButton {
  width: 50%;
  background-color: #f3f3f3;
  color: #a3a3a3;
}

.createButton {
  width: 50%;
  background-color: #a1a1a1;
  color: white;
}

.messages {
  padding-top: 50px;
  text-align: left;
}

.room-header {
  font-size: 1.5em;
  padding-bottom: 25px;
  padding-left: 35%;
}

.room-title{
  cursor: pointer;
}

.conversation {
  font-size: 0.9em;
}

.message {
  padding: 20px;
  padding-left: 35%;
}

.message:nth-child(odd) {
    background: #eef5fd;
}

.message:nth-child(even) {
}

.message-user {
  font-weight: bold;
}

.message-sentAt {
  float: right;
  font-style: italic;
  font-weight: normal;
  color: #c0c0c0;
}

.authentication {
  position: fixed;
  top: 20px;
  right: 10px;
}

.user {
  display: inline;
  padding-right: 10px;
  cursor: pointer;
}

.authentication button {
  border: none;
  border-left: 2px solid #ededed;
  padding-right: 10px;
  cursor: pointer;
}

input,
button:focus,
button:active,
button:focus:active {
  outline: 0;
}

.new-username-popup {
  display: none;
  z-index: 1;
  background-color: #e8e8e8;
  border: 1px black solid;
  position: fixed;
  left: 35%;
  top:20%;
  text-align: left;
  padding: 15px;
  width: 250px;
}

.new-username-popup .createButton {
  width: 100%;
  padding: 10px;
}
.new-username-popup-active {
  display: block;
}

.nextMessage {
  position: fixed;
  bottom: -1px;
  line-height: 20px;
  padding-left: 30%;
  width: 100%;
  font-size: 0.9em;
  border: 1px solid #e8e8e8;
  background-color: #f6fafe;
  z-index: -1;
}

.theMessage {
  background-color: inherit;
  color: gray;
  width: 70%;
  padding: 10px 5px;
}

.sendButton {
  position: fixed;
  right: 0px;
  height: 30px;
  background-color: #615f5f;
  color: white;
  padding: 10px 15px;
  box-sizing: content-box;
  cursor: pointer;
}
